.container{
    padding: 65px 9rem;
}

.questions{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 2rem 0;
}

.question{
    margin-top: 2rem;
    padding: 1rem;
    width: 600px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 5px #ccc;
}

.single_question{
    font-size: 1.3rem;
    font-weight: bold;
}

.question_no{
    font-size: 1.2rem;
    font-weight: bold;
    margin-right: 0.5rem;
}

.options{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    margin: 1rem 0;
}

.options li, .answer{
    margin: 0.5rem 0;
    padding-left: 0.5rem;
    font-size: 1rem;
}

.option_no{
    font-size: 1.1rem;
    font-weight: bold;
    margin-right: 0.5rem;
}

.answer{
    margin-top: 0.5rem;
    padding-left:1rem;
}

/* tablet */
@media screen and (max-width: 768px){
    .container{
        padding: 65px 2rem;
    }

    .question{
        width: 400px;
    }
}

/* mobile */

@media screen and (max-width: 400px){
    .container{
        padding: 65px 1rem;
    }

    .question{
        width: 300px;
    }
}
